.card {
    border-radius: var(--default-border-radius);
    background: var(--card-component-background);
    box-shadow: var(--card-component-box-shadow);
    margin-bottom: 1rem;
    
    .card-header {
        padding: 0.5rem 1rem;
        border-bottom: 1px solid var(--border-color);
        font-weight: 500;
        letter-spacing: var(--default-letter-spacing);
    }

    .card-body {
        padding: 1rem;
    }
}
