body {
    --active-color: #02c7cc;
    --app-background: #ecf2f3;
    --card-component-background: #fff;
    --default-border-radius: 0.125rem;
    --border-color: #e1edef;
    --app-text-color: #3f403f;
    --card-component-box-shadow: 0 10px 15px rgba(155, 209, 218, 0.15);
    --preview-background: #0c0c0c;
}

.dark-mode {
    --app-background: #0c0c0c;
    --card-component-background: #181818;
    --default-border-radius: 0.125rem;
    --border-color: #000000;
    --app-text-color: #fff;
    --card-component-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    --preview-background: #fff;
}
