:host {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: var(--card-component-background);
    border: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    box-shadow: var(--card-component-box-shadow);

    &:hover {
        background: var(--preview-background);

        .icon {
            width: 2rem;
            height: 2rem;
        }

        path {
            fill: var(--active-color);
        }
    }
}

.icon {
    transition: all 250ms ease-in-out;
    width: 1.5rem;
    height: 1.5rem;
    
    path {
        fill: var(--app-text-color);
    }
}
